@import './roomCard', './switch', './variables', './modal', './404', './components';

html {
	color-scheme: light;
}

body {
    background:
    linear-gradient(
        rgba($color-surface-tint, 0.06),
        rgba($color-surface-tint, 0.06)
    ),
    linear-gradient(
        $color-surface-container,
        $color-surface-container
    );
    font-family: $font-family_1;
    padding: 0 2rem;
    font-weight: 500;
    margin: 0;
    @include ifMobile{
        padding: 0 1rem;
    }
}

.headerSection {
    @include centeredFlex;
    margin: 1rem    ;
}

.firstHalf {
	flex: 3;
}

.secondHalf {
    margin-top: 2rem;
    @include ifMobile{
        & .divider{
            display: none;
        }
    }
}

.containers{
    flex: 0;
    margin-left: 2rem;
    gap: 5rem;
    @include ifMobile{
        margin-left: 0;
        margin-top: 4%;
    }
}

h1 {
	font-family: $font-family_1;
	font-size: 3rem;
    font-weight: 800;
	text-shadow: 1px 2px 2px rgba(31, 31, 31, 0.53);
	color: $color-on-background;
	margin: 1rem 0;
    padding: 0;
    line-height: 2rem;
    text-align: center;
}

.RoomsList {
	display: inline-grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	gap: 0.5rem;
    margin:0;

    &.listDisplay{
        grid-template-columns: 1fr;
    }
    @include ifMobile{
        grid-template-columns: 1fr;
    }
}

.text-footer {
    @include centeredFlex;
    text-align: center;
	padding: 30px 0;
}

.roomsAndFilters{
    display: flex;
    flex-direction: column;
    flex: 1;
    &.listDisplay{
        flex: 0;
        margin-left: auto;
    }
}

#chooseRoomSection{
    display: grid;
}

.searchDiv {
    margin-top: 0;
	display: grid;
	grid-template: 1fr / 1fr;
	gap: 0.5rem;
}

.listSwitch {
    @include centeredFlex;
    @include hoverCurser;
    @include ifMobile{
        display: none;
    }
}

.switchLabel {
	margin-left: 0.6rem;
    @include hoverCurser();
}

.gradeCheckers {
    display: flex;
    width: auto;
    height: 3rem;
    justify-content: center;
    align-items: center;
    gap: -0.0625rem;
    flex-shrink: 0;
    margin-bottom: 1rem;

    @include ifMobile{
        width: 100%;
    }

    &.listDisplay{
        width: 24rem;
    }
}

.gradeChecker {
    @include centeredFlex;

    height: 3rem;
	border: 1.5px solid $color-outline;
    flex: 1 0 0;

	&:has(:checked) {
		background-color: $color-secondary-container;
		color: $color-on-secondary-container;
        &:hover{
            background:
			linear-gradient(
				rgba($color-on-surface, 0.08),
				rgba($color-on-surface, 0.08)
			),
			linear-gradient(
				$color-secondary-container,
				$color-secondary-container
			);
        }
        i {
            display: block;
            margin-left: 5%;
            font-weight: 700;
        }
	}

    @include hoverCurser();

    $cornerRadius: 0.6rem;

    &[grade="0"]{
        border-radius: $cornerRadius 0rem 0rem $cornerRadius;
    }

    &[grade="8"]{
        border-radius: 0rem $cornerRadius $cornerRadius 0rem;
    }

    i {
        display: none;
    }

	input {
		opacity: 0;
		width: 0;
		height: 0;
	}

    &:hover{
        background:rgba($color-on-surface, 0.08);
    }

    @include ifMobile{
        &:has(:checked) {
            & i {
                display: none;
            }
        }
    }
}

@for $i from 0 to 5{
    .gradeChecker:nth-child(#{$i + 1}) i{
        color: map-get($gradeToColor, 4+$i);
    }
}

.firstSection{
    display: flex;
    @include ifMobile{
        display: block;
    }
}